/**********CSS style***/

.gamego{
    border: black;
    background-color: gold;
} 
.row div{
	padding: 10px;
	border: 5px solid rgb(141, 14, 109);
	height: 100px;
	width: 100px;
	float: left;
    /*background-image: url(/Images/james-armes-waterfal.jpg);*/
	}
/*The clear property stops the boxes from floating on either side(left or right) of each other*/
div1{
    background-image: url(/Images/james-armes-waterfal.jpg);
}

.row {
	clear: both;
}

.row1 div{
	padding: 10px;
	border: 5px solid rgb(12, 0, 80);
	height: 100px;
	width: 100px;
	float: left;

    
	}
/*The clear property stops the boxes from floating on either side(left or right) of each other*/
.row1 {
	clear: both;
    }

    .row2 div{
        padding: 10px;
        border: 5px solid rgb(141, 14, 109);
        height: 100px;
        width: 100px;
        float: left;
        }
    
    .row2{
        clear: both;
    }
        .row3 div{
            padding: 10px;
            border: 5px solid rgb(29, 141, 14);
            height: 100px;
            width: 100px;
            float: left;
            }
        
        .row3 {
            clear: both;
        }
/*#hpbox{
    grid-template-areas: "row1",
                          "row2"
                          "row3";
                          
        align-items: center;
        justify-content: center;
        align-content: center;
}*/

.begnn{
	background-color: rgb(156, 53, 151);

}

.tpletters {
	position: relative;
	font-weight: 900;
	font-size: 4.5em;
  }
  .tpletters .letters {
	position: absolute;
	margin: auto;
	left: 0;
	top: 0.3em;
	right: 0;
	opacity: 0; 
  }